# Xcode
build/
DerivedData/
dist/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.playground
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Secrets
*.p12
*.mobileprovision
Secrets.xcconfig
